<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="btn btn-light" role="button">메인으로</a>
    <div th:style="${member == null ? '' : 'display:none'}">
      <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">GoogleLogin</a>
    </div>
    <div th:style="${member != null ? '' : 'display:none'}">
      <a href="/logout" class="btn btn-info active" role="button">Logout</a>
      <a href="/blogs" class="btn btn-success active" role="button">블로그 목록</a>
      <a href="/blogs/Contents/subscriptions" class="btn btn-primary active" role="button">구독 목록</a>
    </div>
  </nav>
</div>