<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <label>최근 한달 이내의 내용만 조회됩니다.</label>
  <label style="color:blue; font-weght:bold;">로그인을 하면 회원가입이 되며, 회원은 기본으로 신규 컨텐츠에 대한 메일 발송이됩니다. 원치 않으시면 전체 블로그 목록으로 이동하여 메일 수신 여부를 해제 해주세요.</label>
  <p><a href="https://github.com/monkeyDugi/dev_log_moa">github 링크(등록하고 싶은 블로그는 이슈에 남겨주세요)</a></p>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>작성일</th>
      <th>제목</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blogContent : ${blogContents}">
      <td th:text="${blogContent.pubDate}"></td>
      <td th:text="${blogContent.title}"></td>
      <td>
        <a th:href="${blogContent.pubLink}">
          보기
        </a>
      </td>
      <td th:text="${blogContent.blog.blogTitle}"></td>
    </tr>
    </tbody>
  </table>
  <!-- 페이징 -->
  <div th:if="${!blogContents.isEmpty()}">
    <!-- 전역 변수 선언 -->
    <nav
            th:with="
                pageNumber = ${blogContents.pageable.pageNumber},
                pageSize = ${blogContents.pageable.pageSize},
                totalPages = ${blogContents.totalPages},
                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
            aria-label="Page navigation"
    >
      <ul class="pagination ">
        <!-- 처음으로 이동 -->
        <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/(page=0)}">
            <span>&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>

        <!-- 이전으로 이동 -->
        <li th:classappend="${blogContents.first} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${blogContents.first} ? '#' : @{/(page=${pageNumber - 1})}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        <!-- 특정 페이지로 이동 -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
          <a th:text="${page}" class="page-link" th:href="@{/(page=${page - 1})}"></a>
        </li>

        <!-- 다음으로 이동 -->
        <li th:classappend="${blogContents.last} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="${blogContents.last} ? '#' : @{/(page=${pageNumber + 1})}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>

        <!-- 마지막으로 이동 -->
        <li th:classappend=" ${T(Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
          <a class="page-link" th:href="@{/(page=${totalPages - 1})}">
            <span>&raquo;</span>
            <span class="sr-only">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div th:replace="fragments/footer :: footer" />
</body>
</html>